<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% spaces.forEach(function(space) { %>
    <h2><%= space.name %> </h2>
    <h3><%= space.description %> </h3>
    <h4>Price per night: <%= space.price_per_night %> pounds</h4>
    <% }); %>
  </body>
</html>
